<style>
  .footer {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
</style>

<!--footer-->
<div
  class="footer position-fixed fixed-bottom bottom-0 w-100 p-2 bg-light"
  id="footer"
>
  <div class="fs-4">
    <ul
      class="d-flex flex-row justify-content-between list-unstyled m-0 p-0 w-100 text-center"
    >
      <li>
        <a
          routerLink="/home"
          class="d-flex flex-column align-items-center text-decoration-none"
        >
          <i
            class="bi bi-house-door-fill"
            style="margin-left: -17px; color: #525252"
          ></i>
          <span class="fs-6" style="color: #525252">Home</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/booking"
          class="d-flex flex-column align-items-center text-decoration-none"
        >
          <i
            class="bi bi-ticket-perforated-fill"
            style="margin-right: 12px; color: #525252"
          ></i>
          <span class="fs-6" style="color: #525252">Booking</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/helps"
          class="d-flex flex-column align-items-center text-decoration-none"
        >
          <i
            class="bi bi-question-square-fill"
            style="margin-right: 8px; color: #525252"
          ></i>
          <span class="fs-6" style="color: #525252">Help</span>
        </a>
      </li>

      <li>
        <a
          routerLink="/account"
          title="My Account"
          class="d-flex flex-column align-items-center text-decoration-none"
        >
          <i class="bi bi-person-circle" style="color: #525252"></i>
          <span class="fs-6" style="color: #525252">Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>
