<nav
  class="navbar navbar-dark bg-primary p-2 d-flex justify-content-between align-items-center"
>
  <a href="#" style="color: white"
    ><i
      class="bi bi-arrow-left ms-1 justify-content-end"
      style="font-size: 25px"
    ></i>
  </a>
  <h6 class="text-uppercase text-white m-0 text-center flex-grow-1">
    Ariyalur to Tanjore
  </h6>
</nav>

<nav
  class="navbar navbar-light"
  style="background-color: rgba(241, 241, 245, 0.367)"
>
  <a class="btn btn-success btn-sm ms-1">Previous Day</a>
  <p class="text-dark">{{ currentDate | date : "fullDate" }}</p>
  <a class="btn btn-success btn-sm me-1">Next Day</a>
</nav>

<!--Cards -->
<div class="parentCard">
  <div class="card m-2 border-primary" style="margin-top: 20px !important">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 250 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        8.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via KUNNAM
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        16:00
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        04:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        13 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 300 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        10.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via PERAMBALUR
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        17:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        22:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        20 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 200 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        11.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via JAYANKONDAM
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        14:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        06:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        6 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 500 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        11.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via TANJORE
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        11:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        04:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        16 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 250 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        11.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via KUNNAM
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        14:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        06:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        45 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 200 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        10.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via PERAMBALUR
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        17:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        22:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        20 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 250 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        11.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via TANJORE
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        14:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        06:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        45 seats
      </button>
    </div>
  </div>

  <div class="card m-2 border-primary">
    <div
      class="card-title d-flex justify-content-between align-items-center flex-grow-1"
    >
      <img
        src="assets/img/govt.svg"
        alt="TNlogo"
        class="img-fluid ms-0"
        style="width: 50px; height: 40px; margin-left: -10px; margin-top: 5px"
      />
      <p style="font-size: 15px; margin-top: 5px" class="ms-0">
        <strong>ARIYALUR</strong>
      </p>

      <p style="color: red" class="me-2">
        <strong>{{ 350 | currency : "INR" : "symbol" : "1.0-0" }}</strong>
      </p>
    </div>

    <div class="position-relative text-center my-4 mb-0">
      <hr class="border border-dark border-1 opacity-20 w-50 mx-auto" />

      <!-- Center text -->
      <span
        class="position-absolute top-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        11.00 hrs
      </span>

      <span
        class="position-absolute end-0 start-50 translate-middle bg-white px-2 text-muted"
        style="font-size: 14px; font-weight: 500"
      >
        via TANJORE
      </span>

      <!-- Left text -->
      <span
        class="position-absolute start-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.9rem;
          font-size: 14px;
          font-weight: 500;
          margin-left: 53px;
        "
      >
        11:50
      </span>

      <!-- Right text -->
      <span
        class="position-absolute end-0 translate-middle-y bg-white px-2 text-muted"
        style="
          top: 0.7rem;
          font-size: 14px;
          font-weight: 500;
          margin-right: 40px;
        "
      >
        04:00
      </span>
    </div>

    <div class="card-body text-end">
      <button class="btn btn-danger btn-sm" (click)="gotoSeat()">
        16 seats
      </button>
    </div>
  </div>
</div>
